<div class="fixed top-0 h-full w-[25%] flex flex-col gap-8 items-center pt-2">
  <div class="w-[60%]">
    <%= image_tag("parrot.png", class: "icon cursor-pointer w-10 h-10") %>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">Home</h1>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">Explore</h1>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">Notifications</h1>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">Messages</h1>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">Bookmarks</h1>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">Lists</h1>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">Profile</h1>
  </div>
  <div class="w-[60%]">
    <h1 class="font-semibold">More</h1>
  </div>
  <div class="w-[60%]">
    <button class="font-semibold bg-green-500 hover:bg-green-700 text-white px-8 cursor-pointer py-2 rounded">Log in</button>
  </div>
</div>
